// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "index";
.homepage-container {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $dark-blue;
  width: 100%;
  height: 100%;
  .myracket-navbar {
    background-color: $dark-blue;
    position:relative;
    height: 15vh;
  }
  .footer {
    background-color: $dark-blue;
    position:relative;
    height: 15vh;
  }
}


.tennis-court-container {
  position: relative;
  align-self: center;
  width: 90%;
  height: 70vh;
}

.home-link-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 21%;
  width: 26%;
  opacity: 0;
  background-color: $dark-blue;
  h2 {
    color: white;
    align-self: center;
    margin-bottom: 15px;
  }
}


.home-link {
  position: relative;
  display: flex;
  justify-content: center;
  width: 65%;
  height: 25%;
  text-decoration: none;
  background-color: $dark-blue;
  border-radius: 50px;
  transition: transform 0.4s;

    .go-button {
      display: flex;
      justify-content: center;
      border: none;
      width: 100%;
      align-self: center;
      border-radius: 50px;
      border: solid 3px white;

      text: white;
      font-size: 20px;
      color:white;
      transition: box-shadow 0.4s, background-color 0.8s;
    }

}

.home-link:hover {
  transform: translate3d(-1px,-3px,0px);

  .go-button {
    background-color: #10367f;
    box-shadow: 3px 10px #2e76ff;
  }
  a:hover {
    text-decoration: none;
  }
}

