// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "index";
.homepage-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: $dark-blue;
  width: 100%;
  height: 100%;
  .myracket-navbar {
    background-color: $dark-blue;
    position:relative;
    height: 15vh;
  }
  .quick-search-box{
    display: flex;
    position: absolute;
    align-self: center;
  }
  .footer {
    background-color: $dark-blue;
    position:relative;
    height: 15vh;
  }
}


.tennis-court-container {
  position: relative;
  align-self: center;
  width: 90%;
  height: 70vh;
}

.home-form {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.quick-search-box-and-home-link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: 21%;
  width: 26%;
  opacity: 0;
  background-color: $dark-blue;
  h2 {
    color: white;
    align-self: center;
    margin-bottom: 15px;
  }
}

.text-input-and-link{
  position: relative;
  display: flex;
  justify-content: center;
  width: auto;
  height: 23%;
}

.home-link {
  position: relative;
  display: flex;
  justify-content: center;
  width: 15%;
  text-decoration: none;
}

.type-search {
  border: none;
  width: 60%
}

.home-submit-button {
  border: none;
  border-left: solid 1px $dark-blue;
  width: 100%;

}
