// Place all the styles related to the rackets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "index";
@import "bootstrap";

html {
  scroll-behavior: smooth;
}

.racket-page-container{
  position: relative;
  display:flex;
  flex-direction: column;
  height: 100%;
  background-color: $light-grey;
}


.search-bar-and-racket-cards{
  display: flex;
  position: relative;
  min-height: calc(100vh - 250px);
}

.racket-container{
  position: relative;
  width: 100%;;
  display:flex;
  flex-direction: column;
  border-top: solid 1px $grey
}

.select-racket{
  position: relative;
  padding: 15px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: 410px;
  width: 100%;
}

.no-rackets-message {
  position: fixed;
  width: 50%;
  visibility: hidden;
  justify-content: center;
  line-height: 2;
  text-align: center;
  align-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 100px;
}

.select-racket{
  position: relative;
  padding: 15px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: 410px;
  width: 100%;
}

// 480p  720x480 pixels	16/9	SD, définition standard, qualité DVD
// 720p	HD Ready	1280x720 pixels	16/9	HDTV, HD 720p, 720p, HD Ready
// 1080p	Full HD	1920x1080 pixels	16/9	HDTV 1080p, HD 1080p, 1080p, Full HD
// 1440p 2560x1440
// 2160p	UHDTV1	3840x2160 pixels	16/9	4K, UHD 4K, Ultra HD 4K, UHD-4K, 2160p
// 4320p	UHDTV2	7680x4320 pixels

@media (min-width: 2560px) {
  .search-bar {
    width: 340px;
  }
  h4 {
    font-size: 45px
  }
  h5 {
    font-size: 32px
  }

  .label-design {
    label {
      font-size: 25px;
    }
  }
  
  .select-racket {
    .racket-card {
      width: 80%;
    }
    .card-spec {
      height: 120px;
    }
    display: grid;
    grid-auto-rows: 700px;
    .card-image img {
      height: 330px;
    }
    .card-item-description {
      grid-template-rows: 72% 28%;
    }

    h5 {
      font-size: 32px
    }
    h6 {
      margin: 3px;
      font-size: 30px
    }
  }
  .empty-comparator-message {
    font-size: 25px;
  }

  .short-comparator-racket-card {   
    width: 90%;
    .spec-data {
      font-size: 18px;
      width: 80%;
 
    }
    .fa-times {
      font-size: 20px;
    }
  }

  
  .large-comparator-racket-card {
    // .compare-racket-cards-data {
    .spec {
      // height: 100%;
      // vertical-align: middle;
    }
    // }
    h4.spec {
      margin: 0;
      // font-size: 24px;
    }
    h5.spec {
      margin: 0;
      font-size: 25px;
    }
  }
}
@media (max-width: 2559px){
  .select-racket {
    display: grid;
    grid-auto-rows: 520px;
  }
}

@media (max-width: 1919px) {
  .select-racket {
    display: grid;
    grid-auto-rows: 425px;
  }
}

@media (max-width: 1400px) {
  .select-racket {
    display: grid;
    grid-auto-rows: 400px;
  }
  .card-image img {
    height: 180px;
  }
}

@media (max-width: 1079px) {

  .select-racket {
    display: grid;
    grid-auto-rows: 360px;
  }

  .card-image img {
    height: 140px;
  }

  .card-item-description {
    grid-template-rows: 62% 38%;
  }

  .card-brand {
    h4{
      font-size: 19px;
    }
  }
  .card-model {
    h5{
      font-size: 16px;
    }
  }

  .card-spec {
    h6{
      font-size: 13px;
    }
  }
}

@media (max-width: 719px) {
  .card-image img {
    height: 95px;
  }
  .select-racket {
    display: grid;
    grid-auto-rows: 230px;
    .fas {
      font-size: 13px
    }
  }

  .racket-card:hover {
    .racket-checkbox-label {
      width: 60px
    }
  }
  .card-brand {
    h4{
      font-size: 16px;
    }
  }
  .card-model {
    h5{
      font-size: 13px;
    }
  }

  .card-item-description {
    grid-template-rows: 75% 25%;
  }

  .card-spec {
    display: none;
  }
  .racket-checkbox-label {
    .compare {
      font-size: 12px;
    }
  }
  .warning-text{
    display: none
  }
}


// @media screen and (min-width: 375px) and (max-width: 719px) and (min-height: 800px)  {
//   .select-racket {
//     display: grid;
//     grid-auto-rows: 400px;
//   }

//   .card-item-description {
//     // grid-template-rows: 50% 50%;
//   }
// }


// @media screen and (max-width:800px) {
//   .select-racket {
//     display: grid;
//     grid-template-columns: 50% 50%;
//     grid-auto-rows: 25rem;
//   }
// }



