// Place all the styles related to the rackets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "index";
@import "bootstrap";

html {
  scroll-behavior: smooth;
}

.racket-page-container{
  position: relative;
  display:flex;
  flex-direction: column;
  height: 100%;
  background-color: $light-grey;
}


.search-bar-and-racket-cards{
  display: flex;
  position: relative;
  min-height: calc(100vh - 250px);
}

.racket-container{
  position: relative;
  width: 100%;;
  display:flex;
  flex-direction: column;
  border-top: solid 1px $grey
}

.select-racket{
  position: relative;
  padding: 15px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: 410px;
  width: 100%;
}

.no-rackets-message {
  position: fixed;
  width: 50%;
  visibility: hidden;
  justify-content: center;
  line-height: 2;
  text-align: center;
  align-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 100px;
}

.select-racket{
  position: relative;
  padding: 15px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: 410px;
  width: 100%;
}

// 480p  720x480 pixels	16/9	SD, définition standard, qualité DVD
// 720p	HD Ready	1280x720 pixels	16/9	HDTV, HD 720p, 720p, HD Ready
// 1080p	Full HD	1920x1080 pixels	16/9	HDTV 1080p, HD 1080p, 1080p, Full HD
// 1440p 2560x1440
// 2160p	UHDTV1	3840x2160 pixels	16/9	4K, UHD 4K, Ultra HD 4K, UHD-4K, 2160p
// 4320p	UHDTV2	7680x4320 pixels

@media (min-width: 2560px) {
  .search-bar {
    width: 340px;
  }
  h4 {
    font-size: 45px
  }
  h5 {
    font-size: 32px
  }

  .label-design {
    label {
      font-size: 25px;
    }
  }
  
  .select-racket {
      display: grid;
      grid-auto-rows: 740px;
    .racket-card {
      width: 80%;
    }
    .card-spec {
      height: 120px;
    }
    display: grid;
    grid-auto-rows: 700px;
    .card-image img {
      height: 330px;
    }
    .card-item-description {
      grid-template-rows: 72% 28%;
    }

    h5 {
      font-size: 32px
    }
    h6 {
      margin: 3px;
      font-size: 30px
    }
  }
  .empty-comparator-message {
    font-size: 25px;
  }

  .short-comparator-racket-card {   
    width: 80%;
    .spec-data {
      font-size: 20px;
      width: 80%;
 
    }
    .fa-times {
      font-size: 20px;
    }
  }

  // .close-comparator-arrow {
  //   top: 93%;
  // }

  .spec {
    font-size: 25px;
  }

  .search-bar{
    label {
      font-size: 25px;
      line-height: 50px
    }
  }

}

@media (max-width: 2559px) {
  .select-racket {
    display: grid;
    grid-auto-rows: 535px;
    .card-image img {
      height: 270px;
    }
  }
}

@media (max-width: 1440px) {
  .select-racket {
    display: grid;
    grid-auto-rows: 425px;
    .card-image img {
      height: 190px;
    }
  }
}

@media (max-width: 1920px) and (orientation: landscape) {

  // .close-comparator-arrow {
  //   top: 92%;
  //   width: 70px;
  //   height: 40px;
  //   font-size: 15px;
  // }

  .comparator-card-image img {
    align-self: center;
    height: 190px;
    width: 80%;
    border-radius: 25px;
  }
}

@media (max-width: 1280px) {
  .select-racket {
    display: grid;
    grid-auto-rows: 380px;
    .card-image img {
      height: 160px;
    }
  }
  
  .racket-card {
    .card-item-description {
      grid-template-rows: 67% 33%;
    }
  }

  .card-brand {
    h4{
      font-size: 22px;
    }
  }
  .card-model {
    h5{
      font-size: 18px;
    }
  }

  .card-spec {
    h6{
      font-size: 15px;
    }
  }

  .short-comparator-racket-card {   
    width: 90%;
    .spec-data {
      font-size: 15px; 
    }
    .fa-times {
      font-size: 15px;
    }
  }

  .comparator-card-image img {
    height: 270px;
    transform: translateY(10px);
    border-radius: 25px;
  }

 
}


@media (max-width: 1024px) {
  .search-bar {
    width: 160px;
    .type-search {
      width: 100%;
    }
    input[type="text"]{
      font-size: 14px;
    }
    h4 {
      font-size: 24px;
    }
    h5 {
      font-size: 20px;
    }
    label {
      line-height: 18px;
      font-size: 16px;
    };
    .label-design {
      margin-top: 5px;
    }
    .arrow-up {
      border-width: 0 3px 3px 0;
    }
    .clear-search {
      font-size: 12px;
      padding-right: 5px;
      padding-left: 5px;
    }
  }

  .select-racket {
    display: grid;
    grid-auto-rows: 365px;
    .card-image img {
      height: 140px;
    }
    .racket-card {
      .card-item-description {
        grid-template-rows: 64% 36%;
      }
    }
  }

  .card-brand-model {
    padding-right: 6px;
    padding-left: 6px;
  }

  .card-spec {
    padding-right: 6px;
    padding-left: 6px;
  }

  .card-brand {
    h4{
      font-size: 21px;
    }
  }
  .card-model {
    h5{
      font-size: 17px;
    }
  }

  .card-spec {
    h6{
      font-size: 15px;
    }
  }

  .short-comparator-racket-card {   
    width: 90%;
    .spec-data {
      font-size: 15px; 
    }
    .fa-times {
      font-size: 15px;
    }
  }

  .comparator-card-image img {
    height: 200px;
    transform: translateY(5px);
    border-radius: 25px;
  }

  .short-comparator-background {
    margin-top:55px;
  }

  .compared-racket-checkbox-label {
    .fas {
      font-size: 10px;
    }
  }

  .racket-comparator-container{
    margin-top: 55px;
    .close-comparator-arrow {
      top: 79vh;
      height: 4vh;
      width: 60px;
    }
    .spec {
      font-size: 1.4vh;
    }
    h4.spec{
      font-size: 2.8vh;
    }
    h5.spec{
      font-size: 1.9vh;
    }
    .spec-list {
      font-size: 1.4vh;
    }

  }
}

@media (max-width: 720px) {
  .search-bar {
    width: 145px;
    .type-search {
      width: 100%;
    }
    input[type="text"]{
      font-size: 12px;
    }
    h4 {
      font-size: 22px;
    }
    h5 {
      font-size: 18px;
    }
    label {
      line-height: 18px;
      font-size: 14px;
    };
    .label-design {
      margin-top: 5px;
    }
    .arrow-up {
      border-width: 0 3px 3px 0;
    }
    .clear-search {
      font-size: 12px;
      padding-right: 5px;
      padding-left: 5px;
    }
  }


  .select-racket {
    display: grid;
    grid-auto-rows: 220px;
    .card-image img {
      height: 85px;
    }
    .fas {
      font-size: 13px
    }
    .button-up {
      height: 30px;
    }
    .racket-card {
     padding-bottom: 5px;
    }
  }

  .racket-card:hover {
    .racket-checkbox-label {
      width: 56px
    }
  }
  .card-brand {
    h4{
      font-size: 16px;
    }
  }
  .card-model {
    h5{
      font-size: 13px;
    }
  }
  
  .card-bottom{
    justify-content: flex-end;
  }
  .card-spec {
    display: none;
  }
  .card-brand-model {
    padding: 5px;
  }
  .racket-checkbox-label {
    width: 30px;
    .compare {
      font-size: 12px;
    }
  }
  .warning-text{
    display: none
  }

  .short-comparator-background {
    margin-top: 45px;
  }

  .short-comparator-racket-card {   
    width: 97%;
    .spec-data {
      font-size: 14px;
      line-height: 22px;
      width: 60%;
 
    }
    .fa-times {
      font-size: 15px;
    }
  }

  .comparator-card-image img {
    height: 180px;
    transform: translateY(10px);
    border-radius: 25px;
  }
  
  .racket-comparator-container{
    margin-top: 45px;
    .close-comparator-arrow {
      top: 79vh;
      height: 4vh;
      width: 60px;
    }
    .spec {
      font-size: 1.5vh;
    }
    h4.spec {
      font-size: 2.2vh;
    }
    h5.spec {
      font-size: 1.7vh;
    }
    .spec-list {
      font-size: 1.5vh;
    }

  }
}


@media (max-width: 499px) { //phones
  .search-bar {
    width: 95px;
    padding-right: 3px;
    padding-left: 3px;
    .quick-search-container {
      padding-right: 16px;
      padding-left: 2px;
      border: 2px solid #10367f;
      .fa {
        font-weight: 10px;
        font-size: 10px;
      }
    }
    input[type="text"]{
      font-size: 12px;
    }
    h4 {
      font-size: 18px;
    }
    h5 {
      font-size: 16px;
    }
    label {
      line-height: 16px;
      font-size: 12px;
    };
    .label-design {
      margin-top: 5px;
    }
    .arrow-up {
      border-width: 0 3px 3px 0;
    }
    .clear-search {
      font-size: 12px;
      padding-right: 5px;
      padding-left: 5px;
      border: 2px;
    }
  }


  .select-racket {
    display: grid;
    padding:3px;
    grid-auto-rows: 220px;
    .card-image img {
      height: 80px;
    }
    .fas {
      font-size: 13px
    }
    .button-up {
      height: 30px;
    }
    .button-and-link {
      margin: 0px
    }
    .racket-card {
      width: 95%;
    }
  }

  .racket-card:hover {
    .racket-checkbox-label {
      width: 48px
    }
  }

  .racket-checkbox-label {
    width: 30px;
    .compare {
      font-size: 10px;
    }
  }

  .racket-checkbox-label {
    width: 30px;
    .compare {
      font-size: 12px;
    }
  }

  .short-comparator-background {
    margin-top: 30px;
  }
    .short-comparator-racket-card {   
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;


      .short-brand-model-container {
        border-right: none
      }

      .spec-data {
        font-size: 10px;
        line-height: 16px;
        min-width: 15vw;
        width: 100%;
        padding: 4px;
        -webkit-line-clamp: 2;
      }
      .compared-racket-checkbox-label {
        width: 100%;
      }


    }
    .open-comparator-arrow {
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 10vw;
    }

  .comparator-card-image img {
    height: 120px;
    transform: translateY(25px);
    border-radius: 25px;
  }


  .racket-comparator-container{
    margin-top: 30px;
    .empty-comparator-message{
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.7vh;
    }
    .close-comparator-arrow {
      top: 79vh;
    }
    .spec {
      line-height: 15px;
      font-size: 1.2vh;
    }
    h4.spec {
      font-size: 1.8vh;
    }
    h5.spec {
      line-height: 17px;
      font-size: 1.5vh;
    }
    .spec-list {
      font-size: 1.2vh;
    }
  } 
}

// @media screen and (min-width: 375px) and (max-width: 719px) and (min-height: 800px)  {
//   .select-racket {
//     display: grid;
//     grid-auto-rows: 400px;
//   }

//   .card-item-description {
//     // grid-template-rows: 50% 50%;
//   }
// }


// @media screen and (max-width:800px) {
//   .select-racket {
//     display: grid;
//     grid-template-columns: 50% 50%;
//     grid-auto-rows: 25rem;
//   }
// }



// @media only screen //iphone X
//   and (min-device-width: 375px) 
//   and (max-device-width: 812px) 
//   and (-webkit-min-device-pixel-ratio: 3) { 
//     .search-bar {
//       width: 100px !important;
//       .type-search {
//         width: 100% !important;
//       }
//       input[type="text"]{
//         font-size: 12px !important;
//       }
//       h4 {
//         font-size: 16px !important;
//       }
//       h5 {
//         font-size: 12px !important;
//       }
//       label {
//         line-height: 14px !important;
//         font-size: 10px !important;
//       };
//       .label-design {
//         margin-top: 5px !important;
//       }
//       .arrow-up {
//         border-width: 0 3px 3px 0 !important;
//       }
//       .clear-search {
//         font-size: 8px !important;
//       }
//     }

//     .select-racket {
//       display: grid;
//       grid-auto-rows: 180px !important;
//       .card-image img {
//         height: 65px !important;
//       }
//       .fas {
//         font-size: 10px !important
//       }
//       .button-up {
//         height: 20px !important;
//       }
//       .racket-card {
//        padding-bottom: 0px !important;
//       }
//     }
  
//     .racket-card:hover {
//       .racket-checkbox-label {
//         width: 34px !important
//       }
//     }
//     .card-brand {
//       h4{
//         font-size: 12px !important;
//       }
//     }
//     .card-model {
//       h5{
//         font-size: 10px !important;
//       }
//     }
    
//     .racket-checkbox-label {
//       width: 20px !important;
//       .compare {
//         font-size: 8px !important;
//       }
//     }

//     .short-comparator-racket-card {   
//       border-radius: 5px !important;
//       display: flex !important;
//       flex-direction: column;
//       justify-content: space-between;


//       .short-brand-model-container {
//         border-right: none !important
//       }

//       .spec-data {
//         font-size: 10px !important;
//         line-height: 17px !important;
//         width: 100% !important;
//         padding: 4px !important;
//         -webkit-line-clamp: 2 !important;
//       }
//       .compared-racket-checkbox-label {
//         width: 100% !important;
//       }
      
//     }
    
//     .open-comparator-arrow {
//       width: 40px !important;
//       min-width: 40px !important;
//       height: 50% !important;
//       font-size: 12px;
//     }

//     .racket-comparator-container{
//       .spec {
//         font-size: 1.2vh;
//       }
//       h4.spec{
//         font-size: 1.6vh;
//       }
//       h5.spec{
//         font-size: 1.6vh;
//       }
//       .spec-list {
//         font-size: 1vh;
//       }
//     }
// }
// @media only screen //Iphone X
//   and (min-device-width: 375px) 
//   and (max-device-width: 812px) 
//   and (-webkit-min-device-pixel-ratio: 3)
//   and (orientation: landscape) { 

//   .racket-comparator-container{
//     .spec {
//       font-size: 2vh;
//     }
//     h4.spec{
//       font-size: 3vh;
//     }
//     h5.spec{
//       font-size: 2.1vh;
//     }
//     .spec-list {
//       font-size: 2vh;
//     }
//   }
// }

