user show
<ul>
 <li><%= @user.name %></li>
 <% @user.racketreviews.each do |racketreview| %>
 <li><%= racketreview.comment %> </li>
 <%= button_to "delete review", { action: "destroy", :controller=>"racketreviews", id:racketreview.id}, method: :delete %>
<% end %>
</ul>

<%#= button_to "Delete Review", { action: "destroy", :controller=>"racketreviews", id: racketreview.id }, method: :delete, data: { confirm: "t'es certain Roger?", remote: true}, class: "delete_review" %>
