
<div class= "homepage-container">
  <%= render partial: "shared/navbar" %>
  <div class= 'tennis-court-container'>
    <div class= 'tennis-court'>
      <div class= "left-tennis-court">
        <div class='top-half-court'>
          <div class='left-top-half-left'></div>
          <div class='left-top-half-right'>
            <div class= 'top-left-mid-line'></div>
          </div>
        </div>
        <div class='bottom-half-court'>
          <div class='left-bottom-half-left'></div>
          <div class='left-bottom-half-right'>
            <div class= 'bottom-left-mid-line'></div>
          </div>
        </div>
      </div>
      <div class = "right-tennis-court">
        <div class='top-half-court'>
          <div class='right-top-half-left'>
            <div class= 'top-right-mid-line'></div>
          </div>
          <div class='right-top-half-right'></div>
        </div>
        <div class='bottom-half-court'>
          <div class='right-bottom-half-left'>
            <div class= 'bottom-right-mid-line'></div>
          </div>
          <div class='right-bottom-half-right'></div>
        </div>
      </div>
    </div>
  </div>
  <div class= 'home-link-container'>
    <h2>
      <%= "Start comparing now!" %>
    </h2>
    <div class= "home-link">
      <%= link_to "GO!", rackets_path, class: "go-button" %>
    </div>
  </div>
  <div class= "footer"> </div>
</div>

<!-- { action: "delete", id: @image.id },
                                method: :delete -->
