@import "index";

.account-sidebar-container {
  position: relative;
  min-width: 80px;
  width: 100px;
  border-right: solid 1px $light-grey;
  box-shadow: 10px 0 10px 1px $light-grey;
  h5:hover {
    cursor: pointer;
    padding-left: 10px;
  }
  h5 {
    transition: padding-left 0.25s ease-in-out;
  }
  i {
    font-size: 40px;
    color: $shiny-blue;
    transition: all 0.25s;
  }

  i:hover {
    color: white;
    background-color: $light-orange;
    padding: 10px;
    border-radius: 20px;
  }
}

.selected-account-icon {
  font-size: 40px;
  padding: 15px !important;
  border-radius: 20px;
  color: white !important;
  background-color: $orange !important;
}

.account-sidebar {
  position: fixed;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: calc(100vh - 110px - 70px);
}