.homepage-banner {
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: absolute;
  text-align: center;
  display: flex;
  height: 100vh;

}



.intro {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  text-align: center;
  margin-top: 13%;
  margin-left: 54%;
  margin-right: -25%;
  max-width: 500px;
  h1 {
  color: white
  }
  h2 {
  color:white
  }
}


