@import "index";

.racket-comparator-container{
  position: fixed;
  position: -webkit-sticky;
  z-index: 1;
  overflow: hidden;
  display: flex;
  width: 100%;
  margin-top: 8vh;
  justify-content: flex-start;
  flex-direction: column;
  height:auto;
  margin-left: -15px;
  box-shadow: 0px 0px 0px 0px none;
  transition: all 0.4s;
}

.open-comparator-arrow {
  position: relative;
  display:flex;
  background-color: white;
  width: 3%;
  height: 47%;
  border-radius:40px;
  margin-left: 10px;
  border: solid 2px $dark-blue;
  justify-content: space-around;
  align-self: center;
  cursor: pointer;
  transition: all 0.4s;
  .arrow-down {
    position: relative;
    align-self: center;
    border: solid $dark-blue;
    border-width: 0 4px 4px 0;
    border-radius: 4px;
    display: inline-block;
    padding: 4px;
    transition: all 0.4s;
  }
}

.racket-comparator-container:hover {
  box-shadow: 0px 20px 20px -20px #c2bec2;

  .short-comparator-container {
    background-color: white;
  }
  .arrow-down{
    border: solid $light-blue;
    border-width: 0 4px 4px 0;
  }
  .fa-times{
    color: $light-red
  }
  .open-comparator-arrow{
    display: flex;
    width: 70px;
    border: solid 2px $light-blue;
  }
  .open-comparator-arrow:hover {
    box-shadow: -0px -8px $dark-blue;
    background-color: $light-blue;
    border: solid 2px $light-blue;
    transform: translateY(1vh);
    .arrow-down {
      border: solid white;
      border-width: 0 4px 4px 0;
    }
  }
}

.short-comparator-background {
  position: absolute;
  margin-left: -15px;
  margin-right: -15px;
  margin-top:8vh;
  height: 8vh;
  width: 100%;
  background-color: white;
}

.short-comparator-container {
  background-color: transparent;
  display:flex;
  justify-content: flex-start;
  align-items: top;
  width: auto;
  height: 8vh;
  transition: background-color 1s;
}

.short-displayed-rackets {
  display: flex;
  align-items: center;
  height: 8vh;
}

.short-comparator-racket-card {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: auto;
  height: 75%;
  overflow: hidden;
  background-color: white;
  align-items: center;
  margin-left: 10px;
  border: solid 2px $mid-blue;
  border-radius: 50px;
  .compared-racket-checkbox-label{
    position: relative;
    height: 100%;
  }
}

.short-brand-model-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  border-right: solid 1px $dark-blue;
  color: $dark-blue
}

.compared-racket-checkbox-label{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  width: 45px;
  height:auto;
  background-color: white;
  cursor: pointer;
}

.compared-racket-checkbox-label:hover {
  transition: all 1s;
  background-color: $light-red;
  .fa-times{
    color: white;
  }
}

.fa-times{
  color: $dark-red;
  transition: all 1s
}

.compared-racket-checkbox {
  display:none;
}

.spec-data{
  display: flex;
  align-self: center;
  margin-left: 4px;
  margin-right: 4px;
}

.large-comparator-container {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.background-container{
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width:100%;
  height: 90%;
}

.top-background{
  position: relative;
  width: 100%;
  height: 25%;
  background-color: $dark-blue;
}

.bottom-background{
  position: relative;
  background-color: #f5f5f5;
  width: 100%;
  height: 75%;
}



.close-comparator-arrow {
  position: relative;
  display: flex;
  justify-content: center;
  width: 8vh;
  height: 4vh;
  z-index: 1;
  border-radius:50px;
  border: solid 2px $light-blue;
  align-self: center;
  cursor: pointer;
  transform: translateY(2vh);
  transition: all 0.4s;
  .arrow-up {
    position: relative;
    align-self: center;
    border: solid 2px $light-blue;
    border-width: 0 4px 4px 0;
    border-radius: 4px;
    display: inline-block;
    padding: 4px;
    transition: all 0.4s;
  }
  i {
        color: $light-blue;
  }
}

.close-comparator-arrow:hover{
  box-shadow: 0px 8px $dark-blue;
  background-color: $light-blue;
  border: solid 2px $light-blue;
  transform: translateY(1vh);

.arrow-up {
    position: relative;
    align-self: center;
    border: solid white;
    border-width: 0 4px 4px 0;
    border-radius: 4px;
    display: inline-block;
    padding: 4px;
    transition: all 0.4s;
    cursor: pointer;
  }
}

.comparator-container {
  display: flex;
  position: absolute;
  margin-left: 15px;
  width: 100%;
  height: 100%;
}

.racket-specs-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  height: 90%;
  width: 10%;
  margin-right: 0.5%;
}

.logo-placeholder{
  display: flex;
  position: relative;
  height: 25%;
  width: auto;
}

.racket-comparator-specs{
  display: flex;
  position: relative;
  background-color: white;
  justify-content: space-evenly;
  flex-direction: column;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 65%;
  width: 100%;
}

.spec-list {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.racket-comparator{
  position: relative;
  display:flex;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
}

.compared-racket-cards-container{
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin-left: 0.5%;
  margin-right: 0.5%;
  border-radius: 15px;
  width: 16.66%;
  height: 90%;
  justify-content: flex-end;
  .compared-racket-checkbox-label{
    display: flex;
    align-self: center;
    border-radius:50px;
    overflow: hidden;
    width: 25%;
    height: 4vh;
    border: solid 1px $light-red;
    transition: all 0.4s ease-in-out;
    transform: translateY(-1vh)
  }
  .fas {
    color: $light-red;
  }
}

.compared-racket-cards-container:hover{
  .compared-racket-checkbox-label{
    width: 50%;
  }
}

.large-comparator-racket-card{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
}

.model-brand-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $light-blue;
  width: 100%;
  height: 25%;
  h4 {
    color: white;
    text-align: center;
  }
}

.compared-racket-cards-data{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 65%;
  width: 100%;
}

// .spec-list-container {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;
//   align-items: center;
//   height: 70%;
//   width: 100%;
// }

.spec {
  display: flex;
  position: relative;
  height: auto;
  width: auto;
  align-self: center;
}


