@import "index";
@import "bootstrap";


.myracket-navbar {
  position: fixed;
  background-color: $shiny-blue;
  z-index: 2;
  height: 70px;
  min-height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.25s ease-in-out;
  a{
    color:white !important;
    text-decoration: none !important;
  }

  a:hover {
    color:white;
    text-decoration: none !important;
  }
}

.user-navbar {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: 100%;
  text-align: center;
}
.navbar-link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  a{
  color: black;
  align-self: center;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  }
}

.navbar-link:hover {
  height: auto;
  cursor: pointer;
}


