@import "index";
@import "bootstrap";


.myracket-navbar {
  position: fixed;
  background-color: $shiny-blue;
  z-index: 2;
  height: 70px;
  min-height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
  a{
    transition: all 0.25s ease-in-out;
    color:white;
    text-decoration: none !important;
  }
  a:hover {
    color:white;
    text-decoration: none !important;
  }
}

.user-navbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 100%;
  text-align: center;
}

.navbar-link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  a{
  align-self: center;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  }
}

.navbar-link:hover {
  height: auto;
  cursor: pointer;
}

.navbar-right-links {
  display: flex;
  width: 240px;
  justify-content: space-between
}

@media (max-width: 1024px) {
  .myracket-navbar {
    height: 55px;
    min-height: 55px;
    a {
      font-size: 16px
    }
  }

  .navbar-right-links {
    width: 190px;
  } 
}

@media (max-width: 720px) {
  .myracket-navbar {
    height: 45px;
    min-height: 45px;
    a {
      font-size: 14px
    }
  }

  .navbar-right-links {
    width: 180px;
  }
}
@media (max-width: 499px) {

  .myracket-navbar {
    height: 30px;
    min-height: 30px;
    a {
    font-size: 14px
    }
  }

  .navbar-right-links {
    width: 150px;
  }
}
