.racket-card {
  background-color: white;
  box-sizing: content-box;
  position: relative;
  justify-content: center;
  display: flex;
  border-bottom: 1px solid #dadada;
  margin: 10px;
  flex-wrap: wrap;
  text-align: center;
  width: 220px;
  height: 420px;
  transition: all 0.40s ease-in-out;
}

.card-image img {
  width: 220px;
  transition: all 0.40s ease-in-out;
}


.racket-card:hover {
  box-shadow: 1px 1px 10px #dadada;
  border-bottom: 1px solid #dadada;
  width: 250px;
    .see-more-link{
    color: #dadada;
  }
    .racket-compare-button {
    border-top: 1px solid #dadada;

  }
}


.see-more-link {
  color: white;
  transition: all 0.7s ease-in-out;
}


.card-item-description {
  position: relative;
  justify-items: center;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  max-width: 100%;
}

.card-item-description-details {
  position: relative;

}

.card-clickable:hover {
  cursor: pointer;
  border: none
}

.racket-compare-button{
  position: relative;
  display:flex;
  justify-content: flex-end;
  height:15px;
  border-top: 1px solid white;
  transition: all 0.7s ease-in-out;
}

.racket-checbox {

}
