@import "index";

.reviews-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 80vw;
  min-width: 80vw;
}

.review-card {
  display: flex;
  border: 1px solid #dadada;
  margin: 15px;
  min-height: 8rem;
}


#racketreview_comment {
  position: relative;
  display: flex;
  width: 100%;
  height: 5rem
}

.review-user-detail {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 150px;
  min-width: 150px;
  height: 170px;
  min-height: 170px;
}

.review-user-detail i {
  position: relative;
  font-size: 70px;
  color: $grey;
  align-self: center;
}

.user-name-review {
  position: relative;
  display: flex;
  justify-content: center;
}

.user-edit-review {
  position: relative;
  display: flex;
  justify-content: center;
}

.review-text-and-delete {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;

  min-width: 100px;
}

.review-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  word-break: normal;
  text-align: justify;
  overflow-wrap: break-word;
  border-left: solid 1px $grey;
  padding-top: 1vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-bottom: 1vw;
  max-width:95%;
  min-width: 2%;
  font-size: 17px
}

.review-card{
  .delete-review {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  border-radius: 50px;
  border-color: $light-red;
  color: $light-red;
  transition: all 0.25s ease-in-out;
  margin-right: 10px;
  }

  .button-up:hover {
    background-color: $light-red;
    color: white;
    height: max;
    border-color: $light-red
  }
}

.review-date {
  position: relative;
  display: flex;
  justify-content: center;
  font-size:14px
}

.racketreview-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 150px;
}