@import "index";

.tennis-court {
  position: relative;
  display: flex;
  align-self: center;
  height: 100%;
  justify-content: space-between;
}

.left-tennis-court {
display: flex;
flex-direction: vertical;
width: 0%;
height:100%;
flex-wrap: wrap;
border-top: solid 6px white;
border-bottom: solid 6px white;
}

.right-tennis-court {
  display: flex;
  flex-direction: vertical;
  width: 0%;
  height: 100%;
  flex-wrap: wrap;
  border-top: solid 6px white;
  border-bottom: solid 6px white;
}


.top-half-court {
  display: flex;
  height: 50%;
  width: 100%;
}

.bottom-half-court{
  display: flex;
  height: 50%;
  width: 100%;
}


.left-top-half-left{
  height: 0%;
  width: 100%;
  border-left: solid 6px white
}

.left-top-half-right {
  display:flex;
  width: 100%;
  height:0%;
  border-left: solid 6px white
}


.left-bottom-half-left{
  height: 0%;
  width: 100%;
  align-self: flex-end;
  border-left: solid 6px white
}

.left-bottom-half-right {
  display:flex;
  height: 0%;
  width: 100%;
  align-self: flex-end;
  border-left: solid 6px white
}

.right-top-half-left{
  display:flex;
  height: 0%;
  width: 100%;
  justify-content: flex-end;
  border-right: solid 6px white
}

.right-top-half-right {
  height: 0;
  width: 100%;
  border-right: solid 6px white
}

.right-bottom-half-left{
  display:flex;
  height: 0%;
  width: 100%;
  justify-content: flex-end;
  align-self: flex-end;
  border-right: solid 6px white
}

.right-bottom-half-right {
  height: 0;
  width: 100%;
  align-self: flex-end;
  border-right: solid 6px white
}

.top-left-mid-line {
  width:0%;
  height: 0%;
  align-self: flex-end;
  border-bottom: solid 3px white;
  border-right: solid 3px white
}

.bottom-left-mid-line {
  width:0%;
  height: 0%;
  border-top: solid 3px white;
  border-right: solid 3px white
}

.top-right-mid-line {
  width: 0%;
  height: 0%;
  align-self: flex-end;
  border-bottom: solid 3px white;
  border-left: solid 3px white
}

.bottom-right-mid-line {
  width:0%;
  height: 0%;
  border-top: solid 3px white;
  border-left: solid 3px white
}
