//app colors are defined here
//@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

$dark-blue: #1D3461;
$mid-blue: #10367f;
$light-blue: #2e76ff;

$dark-red: #840003;
$light-red: #ff1300;

