// Place all the styles related to the rackets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.racket-page-container{
  display:flex;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
}

#response-comparator {
  display: flex;
}

.racket-comparator-container{
  display: flex;
  justify-content: flex-start;
  height: 500px;
  box-shadow: 0 0px 5px -5px rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

.racket-comparator-specs{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
}

.racket-comparator{
  display:flex;
  align-items: center;
  height: auto;
  justify-content: center;
}

.search-bar-and-racket-cards{
  display:flex;
}

.racket-container{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  position: relative;
}

.select-racket{
  padding-left:15px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: center;
  width: 100%
}


///////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////RACKET SHOW////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////


.product-page-container{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px
}

.product-image-and-spec {
  display:flex;
  flex: wrap
}

.product-image img {
  width:650px;
  height: 650px;
}

.product-description {
    display: flex;
    position: relative;
    position: absolute
}

.product-spec-container {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: flex-start;
}

.product-spec {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 20%;
  margin-left: 10%;
  width: 100%;
}


.spec-title {
  display: flex;
  flex-direction: column;
  align-self: center;
  h1 {
    text-align: center}
  h2 {
    text-align: center}
}

.spec{
display:flex;
justify-content: space-between;
margin-bottom: 15px;
}

.back-to-search {
  align-self: flex-start;
  position: relative
}
.back-link{
  position: absolute;
  display: block;
  width:100%;
  height:100%;
}

.product-description {
  margin-top: 30px
}

