// Place all the styles related to the rackets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "index";
@import "bootstrap";

html {
  scroll-behavior: smooth;
}

.racket-page-container{
  position: relative;
  display:flex;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  height: 100%;
  width:100%;
  background-color: $light-grey;
  .myracket-navbar {
  margin-right: -15px;
  margin-left: -15px;
  background-color: #1D3461 !important;
  }
}

.quick-search-container{
  display:flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding-top: 12vh;
}

.quick-search-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: -15px;
  margin-left: -15px;
  color: white;
  transition: all 0.4s ease-in-out;
}

.search-bar-and-racket-cards{
  display: flex;
  position: relative;
  width: 100%;
  margin-top:16vh;
  display:flex;
  height: 100%
}

.racket-container{
  position: relative;
  width: 100%;
  display:flex;
  flex-direction: column;
}

.select-racket{
  position: relative;
  padding-left:15px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: 28rem;
  width: 100%;
  transition: 3s cubic-bezier(.18,1,.21,1);
}



@media screen and (max-width:1080px) {
  .select-racket {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: 27rem;
  }
}

@media screen and (max-width:800px) {
  .select-racket {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 25rem;
  }
}

///////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////RACKET SHOW////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////

.show-page {
  display: flex;
  flex-direction: column;
}

.product-page-container{
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: 15px;
  margin-right: 15px
}

.product-image-and-spec {
  display:flex;
  margin-top: 8vh;
  position: relative;
  width: 100%;
  height: 40rem;
  min-height: 40rem;
  border-bottom: solid 1px $grey
}

.product-image{
  position: relative;
  width: 38rem;
  min-width: 38rem
}

.product-image img {
  position: relative;
  width: 100%;
  height: 100%
}

.product-description {
  display: flex;
  position: relative;
  width: 55%;
  height: 100%;
}

.show-page h3{
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}

.product-spec-container {
  display: flex;
  position: relative;
  width: 50%;
  justify-content: flex-start;
}

.product-spec {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 5vh;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5vh;
  width: 100%;
}


.spec-title {
  display: flex;
  flex-direction: column;
  height: 10vh;
  h1 {
    text-align: center}
  h2 {
    text-align: center}
}

.show-spec{
  display:flex;
  justify-content: space-between;
  border-bottom: solid 1px $very-light-blue;
  height: 7vh;
  align-items: center
}

.show-spec-details{
  display: flex;
    line-height: 100%;
}

.show-product-description {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: solid 1px $grey;
  padding-top: 5vh;
  padding-bottom: 5vh
}

.product-reviews-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.review-section-subtitle{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-section-titles{
  position: relative;
  display:flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 14vh;
  min-height: 14vh;
}

.leave-review-btn {
  position: relative;
  display: flex;
  justify-content: center;
  width: 14rem;
  margin-bottom: 3vh
}


.create-review-form {
  position: relative;
  display: flex;
  justify-content: center;
}

.create-review-fields {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 60rem;
  height: 13rem;
  padding-bottom: 2vh;
}

.create-review-fields .button-up {
  width: 10vw;
  background-color: white;
}

.create-review-fields .button-up:hover {
  width: 15vw;
  background-color: $light-blue;
  border: $light-blue
}

.create-review-fields textarea {
  padding: 5px
}

.create_review_label {
  position: relative;
  display: flex;
  justify-content: center;
}

.back-to-search {
  align-self: flex-start;
  position: relative
}

.back-link{
  position: absolute;
  display: block;
  width:100%;
  height:100%;
}

