@import "index";

.user-account-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  h1 {
    color: $orange
  }
}

.user-account-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.user-account-app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center; 
}