@import "index";

.devise-page.change-password{
  .devise-card{
    position: relative;
    grid-template-rows: 25% 75%;
    margin-bottom: 7%;
    min-height: 470px;
    height: 70vh;
  }
  .new_user{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  input {
    width: 80%
  }
}