.devise-page.resend-instructions{
  .devise-card {
    position: relative;
    grid-template-rows: 30% 70%;
    margin-bottom: 10%;
    min-height: 450px;
    height: 60vh;
  }

  .new_user {
    width: 100%;
  }

  input {
    width: 80%
  }
  label {
    width: 80%;
  }
}