@import "index";

.devise-page {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  align-self: stretch;
  min-width: 100%;
  background-color: $shiny-blue;
  overflow:auto; 
  .myracket-navbar{
    position: relative;
  }
  
  h1 {
    display: flex;
    align-content: flex-start;
    align-self: center;
    text-align: center;
    // color: #b32a30
    color: $orange;
    transform: translateY(-15px)
  }
  label {
    display: flex;
    margin: 0px;
    width: 80%;
    font-size: 1em;
  }
  .button-up:hover {
    background-color: $orange;
    border: solid 1px $orange
  }
  a {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center
    // text-align: center;
    // width: 100%;
  }
}

.devise-card{
  position: relative;
  display: grid;
  grid-template-rows: 35% 65%;
  background-color: white;
  height: 30rem;
  width: 320px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 0px 30px 5px #006b93;
  z-index: 2;
}

.devise-image {
  display: flex;
  justify-content: center;
}

.devise-image img {
  position: absolute;
  height: 130%;
  width: 200%
}

.form-container {
  display: flex;
  z-index: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $light-grey;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 25px;
  box-shadow: 0px 0px 50px 50px $light-grey;

}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.field-row {
  display: flex;
  justify-content: space-between
}

.remember-me{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: center;
  width: 80%;
  margin-bottom: 0px;
    input{
      width: auto;
    }
    label {
      margin-left: 8px;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.devise-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

// 480p  720x480 pixels	16/9	SD, définition standard, qualité DVD
// 720p	HD Ready	1280x720 pixels	16/9	HDTV, HD 720p, 720p, HD Ready
// 1080p	Full HD	1920x1080 pixels	16/9	HDTV 1080p, HD 1080p, 1080p, Full HD
// 1440p 2560x1440
// 2160p	UHDTV1	3840x2160 pixels	16/9	4K, UHD 4K, Ultra HD 4K, UHD-4K, 2160p
// 4320p	UHDTV2	7680x4320 pixels

@media (min-width: 2560px) {

}

@media (max-width: 2559px) {

}

@media (max-width: 1440px) {

}

@media (max-width: 1920px) and (orientation: landscape) {

}

@media (max-width: 1280px) {
 
}


@media (max-width: 1024px) {

}

@media (max-width: 720px) {

}


@media (max-width: 499px) {
  .devise-page {
    height: 100vh;
    
    h1 {
    }
    label {

    }
  }

}


@media (max-width: 320px) {
  .devise-page {
    h1 {
      font-size: 30px;
    }
    label {
      font-size: 12px;
    }
    .field input{
      height: 22px;
      font-size: 12px;
    }
    a{
      font-size: 12px;
    }
  }
}