.devise-page.sign-up {
  .devise-card {
    position: relative;
    grid-template-rows: 25% 75%;
    height: 100%;
    margin-top: 2%;
    margin-bottom: 3%;
    min-height: 570px;
    width: 420px;
    z-index: 5
  }
  .devise-image img {
    position: absolute;
    height: 130%;
    width: 170%
  }
}

.user-sign-up {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
  input {
    width: 80%
  }
}

@media (max-width: 499px) {
  .devise-page {
    height: 100vh;
  }
  
  .devise-page.sign-up {
    .devise-card {
      min-height: 590px;
      height: 590px;
      width: 300px;
      margin-top: 2%;
      margin-bottom: 20%;
    }
    a {
      text-align: center;
    }
  }
}

@media (max-width: 320px) {
  .devise-page {
    height: 100vh;
    h1 {
      font-size: 30px;
    }
  }
  
  .devise-page.sign-up {
    .devise-card {
      min-height: 500px;
      height: 500px;
      width: 250px;
      margin-top: 2%;
      margin-bottom: 20%;
    }
    a {
      text-align: center;
    }
  }
}