.devise-page.sign-up {
  .devise-card {
    position: relative;
    grid-template-rows: 25% 75%;
    height: 100%;
    margin-top: 2%;
    margin-bottom: 3%;
    min-height: 570px;
    width: 420px;
    z-index: 5
  }
  .devise-image img {
    position: absolute;
    height: 130%;
    width: 170%
  }
}

.user-sign-up {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  height: 70%;
  input {
    width: 80%
  }
}

@media (min-width: 1921px) {
  .devise-page.sign-up {
    .devise-card {
      height: 700px;
      width: 500px;
      margin-top: 2%;
      margin-bottom: 20%;
      grid-template-rows: 30% 70%;
    }
    .devise-image img {
      height: 130%;
      width: 190%
    }
    a {
      text-align: center;
    }
  }
  .user-sign-up {
    height: 75%;
  }
}

@media (max-width: 1920px) {
  .devise-page.sign-up {
    .devise-card {
      height: 530px;
      width: 400px;
      margin-top: 2%;
      margin-bottom: 10%;
    }
    .devise-image img {
      height: 130%;
      width: 210%
    }
    a {
      text-align: center;
    }
  }
  .user-sign-up {
    height: 75%;
  }
}

@media (max-width: 1024px) {

  .devise-page.sign-up {
    .devise-card {
      height: 700px;
      width: 400px;
      margin-top: 2%;
      margin-bottom: 30%;
    }
    .devise-image img {
      height: 130%;
      width: 210%
    }
  }
  .user-sign-up {
    
  }
}

@media (max-width: 499px) {
  .devise-page {
    height: 100vh;
  }
  
  .devise-page.sign-up {
    .devise-card {
      height: 620px;
      width: 300px;
      margin-top: 2%;
      margin-bottom: 20%;
    }
    .devise-image img {
      height: 130%;
      width: 210%
    }
  }
}

@media (max-width: 320px) {
  .devise-page {

    h1 {
      font-size: 30px;
    }
  }
  
  .devise-page.sign-up {
    .devise-card {
      grid-template-rows: 18% 82%;
      height: 440px;
      min-height: 440px;
      width: 250px;
      margin-bottom: 1%;
    }
  }
}